

.App {
  text-align: center;
  padding-right: 5%;
  padding-left: 5%
}

header {
  background-color:#707070;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color:white;
  padding: 10px;
 
}
.HeaderImage {
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.App-nav ul{
  display:flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
}

.App-nav ul li {
  padding: 10px;
  justify-items: end
}

.About-us {
  color:black;

  padding:20px;
}


.About-us p, h1 {
  font-weight:bold;
  text-align: left;
}

.App-build-plan {
  background-color:#D7DADF;
  padding:20px;

}
.Infofooter {
  background-color: #8391A4;
  padding:20px;
  display:flex;
  flex-direction: row;
  height: 500
}

.card-group {
  display:flex;
  justify-content: space-between;
}
#map{
  height: 100vh
}
.card {
  margin: 10px;
  width:500px;
  height:auto;
}

.App-scenarios {
  background-color:#D7DADF;
  padding:20px;
  padding-bottom:50px;
}

.scenario-group {
  display:flex;
  justify-content: space-between;
}

.scenario {
  background-color:white;
  border-radius:50%;
  width: 200px;
  height: 200px;
  line-height: 175px;
  text-align: center;
  border:10px solid black;
  cursor: pointer;
}

.scenario img {
  max-width:100%;
  max-height:100%;
  vertical-align: middle;
}

.information {
  background-color: #FFE7CC;
  padding:20px;
}





